.App {
  text-align: center;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-link {
  color: #61dafb;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.input-group .number-input input{
  color: white;
  width: 40%;
  height: 10vh;
  font-size: 5vh;
  text-align: center;
  font-weight: bolder;
  background: none;
  border: none;
}

.input-group .result-input input {
  color: white;
  height: 10vh;
  font-size: 5vh;
  text-align: center;
  font-weight: bolder;
  background: none;
  border: none;
}

.app-button{
  height: 5vh;
  font-size: 3vh;
  border-radius: 1em;
  border: none;
  background: rgba(255,255,255,.05);
  color: white;
}
.app-button:hover{
  background: rgba(94, 103, 114, 0.3);
}

.label-group label{
    margin: auto 10vw;
}

.top-left{
  position: absolute;
  top: 5vh;
  left: 5vw;
  color: white;
}
